body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url('https://imgs.search.brave.com/eAVa72F51Vo0HXT-k3mi8Qiiv8D3ne5rNU5Z1yQiFR0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvbGFwdG9wLW11/cmpwMW5rNGxwMWlk/bHQuanBn');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    perspective: 1000px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateZ(0);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    transform: translateZ(20px);
}

.header-content img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.header-text {
    flex-grow: 1;
}

.social-media {
    display: flex;
    align-items: center;
    transform: translateZ(0);
}

.social-media a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
    transform: translateZ(0);
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a:hover {
    color: #ddd;
    transform: scale(1.2);
}

header h1 {
    font-size: 36px;
    margin-bottom: 20px;
    transform: translateZ(20px);
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
    transform: translateZ(20px);
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #ddd;
    transform: scale(1.1);
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px 0;
    padding: 40px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateZ(20px);
}

.education-entry {
    margin-bottom: 20px;
    transform: translateZ(0);
}

.education-entry h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.education-entry p {
    font-size: 16px;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 0;
    transform: translateZ(20px);
}
